
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // =========================
    // Funções auxiliares
    // =========================
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }

    function isAdmin() {
      return isSignedIn() &&
        get(/databases/$(database)/documents/agents/$(request.auth.uid)).data.role == 'admin';
    }

    // =========================
    // Coleção de agentes (corretores)
    // =========================
    match /agents/{agentId} {
      allow get: if true;
      allow list: if isAdmin();
      allow write: if isOwner(agentId) || isAdmin();

      // --- SUBCOLEÇÕES ---

      match /properties/{propertyId} {
        allow list, get: if true;
        allow write: if isOwner(agentId) || isAdmin();
      }

      match /contacts/{contactId} {
        allow read, write: if isOwner(agentId) || isAdmin();
      }
      match /contacts {
        allow list: if isOwner(agentId) || isAdmin();
      }

      match /reviews/{reviewId} {
        allow create: if isSignedIn();
        allow list, get: if resource.data.approved == true || isOwner(agentId) || isAdmin();
        allow update, delete: if isOwner(agentId) || isAdmin();
      }

       match /customSections/{sectionId} {
        allow list, get: if true;
        allow write: if isOwner(agentId) || isAdmin();
      }

      match /leads/{leadId} {
        allow create: if true;
        allow read, update, delete: if isOwner(agentId) || isAdmin();
      }
    }

    // =========================
    // Mensagens de suporte
    // =========================
    match /supportMessages/{messageId} {
      allow read, write: if isAdmin();
      allow create: if isSignedIn();
      allow get: if isOwner(resource.data.senderId);
    }

    // =========================
    // Conteúdo da página de marketing
    // =========================
    match /marketing/content {
      allow get: if true;
      allow write: if isAdmin();
    }
    
    // =========================
    // SEO
    // =========================
    match /seo/{page} {
      allow get: if true;
      allow list: if false; // Ninguém deve listar todos os SEOs
      allow write: if (isOwner(page.split('-')[1]) && page.startsWith('agent-')) || isAdmin();
    }
  }
}
