
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // Função auxiliar para verificar se é admin
    function isAdmin() {
      // Lê o campo 'role' do documento do agente correspondente ao UID do usuário autenticado.
      return request.auth != null && get(/databases/$(database)/documents/agents/$(request.auth.uid)).data.role == 'admin';
    }

    // Função auxiliar para verificar se é o dono
    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    // Imagens de suporte
    match /support-images/{userId}/{fileName} {
      // O autor da mensagem pode enviar (write) imagens dentro da própria pasta
      allow write: if isOwner(userId);
      // Admin pode ler tudo, e o autor pode ler suas próprias imagens
      allow read: if isAdmin() || isOwner(userId);
    }
    
    // Imagens de perfil e de imóveis do corretor
    match /agents/{agentId}/{allPaths=**} {
      // Leitura pública para todas as imagens
      allow read: if true;
      // Escrita apenas para o dono do perfil
      allow write: if request.auth != null && request.auth.uid == agentId;
    }

    // Bloqueia qualquer outro acesso não permitido explicitamente
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
